force-app/main/default/flows/accountActiveNolseOpportunityStageClosedLost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Loop un dolastgı opp lerın stage lerını update etmek ıcındır</description>
        <name>updateOpportunitiesStage</name>
        <label>updateOpportunitiesStage</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>loopsOpportunitiesCollection.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpportunityList_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateOpportunityList_Assignment</name>
        <label>updateOpportunityList Assignment</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>guncellenecekOpportunitiesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopsOpportunitiesCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopsOpportunitiesCollection</targetReference>
        </connector>
    </assignments>
    <description>accountActiveNolseOpportunityStageClosedLost</description>
    <environments>Default</environments>
    <interviewLabel>accountActineNolse {!$Flow.CurrentDateTime}</interviewLabel>
    <label>accountActiveNolseOpportunityStageClosedLost</label>
    <loops>
        <name>loopsOpportunitiesCollection</name>
        <label>loopsOpportunitiesCollection</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>getOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateOpportunitiesStage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateOpportunityCollectionList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>ACoount u actıve o NO olarak secılen Account un OPPORTUNITY   Id sıne baglansın

Accountların ıd
opprt ıd sı olmalı</description>
        <name>getOpportunities</name>
        <label>getOpportunities</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopsOpportunitiesCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunityCollectionList</name>
        <label>updateOpportunityCollectionList</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>guncellenecekOpportunitiesCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunities</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>guncellenecekOpportunitiesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
