force-app/main/default/flows/caseCreationSecreenFlowileUpload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Dosya Yuklemek İstermisiniz</description>
        <name>Dosya_Yuklemek_stermisiniz</name>
        <label>Dosya Yuklemek İstermisiniz</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Case_Created_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hayır</defaultConnectorLabel>
        <rules>
            <name>Evet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dosya_yuklemek_istermisiniz</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dosya_Yukleme_Ekrani</targetReference>
            </connector>
            <label>Evet</label>
        </rules>
    </decisions>
    <description>caseCreationSecreenFlowileUpload</description>
    <dynamicChoiceSets>
        <name>caseOriginPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>caseStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>caseCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>caseCreationSecreenFlowileUpload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>caseRecordCreate</name>
        <label>caseRecordCreate</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>caseID</assignRecordIdToReference>
        <connector>
            <targetReference>Dosya_Yuklemek_stermisiniz</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Sikayet_Konusu</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Kaynagi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Case_Durumu</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Sikayet_Konusu2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>Ad_Soyad</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <description>Case_Created_Success</description>
        <name>Case_Created_Success</name>
        <label>Case Created Success</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreatedSuccessMetni</name>
            <fieldText>&lt;p&gt;sayın......{!Ad_Soyad}&lt;/p&gt;&lt;p&gt;koonusu  &apos;..{!Sikayet_Konusu}..&apos;.olan sıkayetınız  alınmıstır&lt;/p&gt;&lt;p&gt;Detayları asagıdadır&lt;/p&gt;&lt;p&gt;tesekkurler &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;AD soy ad:{!Ad_Soyad}&lt;/p&gt;&lt;p&gt;Emaıl:{!Email.value}&lt;/p&gt;&lt;p&gt;Silkayet kaynagı:{!Case_Kaynagi}&lt;/p&gt;&lt;p&gt;Sıkayet durumu:{!Case_Durumu}&lt;/p&gt;&lt;p&gt;sıkayet konusu:{{!Sikayet_Konusu2}&lt;/p&gt;&lt;p&gt;Sıkayet detayı:{!Sikayet_Konusu}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Bitir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Olusturma_Ekrani</name>
        <label>Case Olusturma Ekrani</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>caseRecordCreate</targetReference>
        </connector>
        <fields>
            <name>Ad_Soyad</name>
            <dataType>String</dataType>
            <fieldText>Ad Soyad</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Durumu</name>
            <choiceReferences>caseStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Durumu</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dosya_yuklemek_istermisiniz</name>
            <dataType>Boolean</dataType>
            <fieldText>Dosya yuklemek istermisiniz</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sikayet_Konusu</name>
            <fieldText>Sikayet Konusu</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Sikayet_Konusu2</name>
            <dataType>String</dataType>
            <fieldText>Sikayet Konusu2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Kaynagi</name>
            <choiceReferences>caseOriginPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Kaynagi</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Case_Created_Success</description>
        <name>Copy_1_of_Case_Created_Success</name>
        <label>Copy 1 of Case Created Success</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_CaseCreatedSuccessMetni</name>
            <fieldText>&lt;p&gt;sayın......{!Ad_Soyad}&lt;/p&gt;&lt;p&gt;koonusu  &apos;..{!Sikayet_Konusu}..&apos;.olan sıkayetınız  alınmıstır&lt;/p&gt;&lt;p&gt;Detayları asagıdadır&lt;/p&gt;&lt;p&gt;tesekkurler &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;AD soy ad:{!Ad_Soyad}&lt;/p&gt;&lt;p&gt;Emaıl:{!Email.value}&lt;/p&gt;&lt;p&gt;Silkayet kaynagı:{!Case_Kaynagi}&lt;/p&gt;&lt;p&gt;Sıkayet durumu:{!Case_Durumu}&lt;/p&gt;&lt;p&gt;sıkayet konusu:{{!Sikayet_Konusu2}&lt;/p&gt;&lt;p&gt;Sıkayet detayı:{!Sikayet_Konusu}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Bitir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dosya_Yukleme_Ekrani</name>
        <label>Dosya Yukleme Ekrani</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Onceki</backButtonLabel>
        <connector>
            <targetReference>Case_Created_Success</targetReference>
        </connector>
        <fields>
            <name>dosyaYukleme</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Dosya Yukleme</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Tamam</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Olusturma_Ekrani</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>caseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
