force-app/main/default/flows/closeDate10GundenAzSchhedeuledFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>yaklasanCloseDate</name>
        <label>yaklasanCloseDate</label>
        <locationX>538</locationX>
        <locationY>444</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Yaklasan bır CLOSE olan OPPORTUNITY  var lutfen ılgılenın</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>closedDate 10 gunden  az midir?</description>
        <name>closedDate_10_gunden_az_midir</name>
        <label>closedDate 10 gunden  az midir?</label>
        <locationX>670</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>hayır</defaultConnectorLabel>
        <rules>
            <name>evet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>onGundenAzFormula</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>yaklasanCloseDate</targetReference>
            </connector>
            <label>evet</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>onGundenAzFormula</description>
        <name>onGundenAzFormula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CloseDate}-TODAY()</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>closeDate10GundenAzSchhedeuledFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>closeDate10GundenAzSchhedeuledFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>551</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>closedDate_10_gunden_az_midir</targetReference>
        </connector>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-13</startDate>
            <startTime>18:40:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
