force-app/main/default/flows/Ogrenci_Arama_Ekran_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>kayitKontrol</name>
        <label>kayitKontrol</label>
        <locationX>670</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>ogrencikaydiVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Kayit VAR</defaultConnectorLabel>
        <rules>
            <name>Kayit_Yok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOgrenciler</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Kayit_Yok_Ekrani</targetReference>
            </connector>
            <label>Kayit Yok</label>
        </rules>
    </decisions>
    <description>ogrencı arama lsutrma guncelleme ekranı</description>
    <dynamicChoiceSets>
        <description>ogrencı objectınde yer alan ıngılızce sevıyesı fıeld ıne aıt lısteyı almak ıcındır</description>
        <name>ingilizceSeviyesiPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ingilizce_seviyesi__c</picklistField>
        <picklistObject>Ogrenci__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>musaitKurslarPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aktif__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Kontenjan_Dolu_mu__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Kurs__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Ogrenci Arama Ekran Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ogrenci Arama Olusturma Guncelleme</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Yeni öğrenci kaydı oluşturmak içindir.</description>
        <name>createOgrenci</name>
        <label>createOgrenci</label>
        <locationX>406</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Kayit_Basarili_Mesaji</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Yeni_Ogrenci_Kayit_Hata_Mesaji</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Dogum_Tarihi__c</field>
            <value>
                <elementReference>Dogumtarihi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kurs__c</field>
            <value>
                <elementReference>getOgrenciler.Kurs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Ogrenci_Adi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ogrenci_no__c</field>
            <value>
                <elementReference>Ogrenci_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefon__c</field>
            <value>
                <elementReference>telefonNo.value</elementReference>
            </value>
        </inputAssignments>
        <object>Ogrenci__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>ogrencı record bılgılerını cagrmak ıcındır</description>
        <name>getOgrenciler</name>
        <label>getOgrenciler</label>
        <locationX>670</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>kayitKontrol</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ogrenci_no__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ogrenci_Numarasi</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ogrenci__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>var olan ogrencı bılgılerını guncellemek ıcın olusturuldu</description>
        <name>Update_Ogrenci</name>
        <label>Update Ogrenci</label>
        <locationX>934</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Guncelleme_Basari_Mesaji_Ekrani</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Guncelleme_Hata_Ekrani</targetReference>
        </faultConnector>
        <inputReference>getOgrenciler</inputReference>
    </recordUpdates>
    <screens>
        <name>Guncelleme_Basari_Mesaji_Ekrani</name>
        <label>Guncelleme Basari Mesaji Ekrani</label>
        <locationX>934</locationX>
        <locationY>926</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>guncellemeBasariMesajiMetni</name>
            <fieldText>&lt;p&gt;Kayda ait Güncellemeniz  BASARI ıle gerceklestırılmıstır&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;IYI GUNLER dileriz&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>TAMAM</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Guncelleme_Hata_Ekrani</name>
        <label>Guncelleme Hata Ekrani</label>
        <locationX>1221</locationX>
        <locationY>740</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ogrenci_Kaydi_Guncelleme_Ekrani</targetReference>
        </connector>
        <fields>
            <name>guncellemeHataMetni</name>
            <fieldText>&lt;p&gt;Beklenmedık bır hata olustu &lt;/p&gt;&lt;p&gt;HATA MESAJI:{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;lutfen tekrar deneyınız&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>TEKRAR DENE</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Kayit_Basarili_Mesaji</name>
        <label>Kayit Basarili Mesaji</label>
        <locationX>406</locationX>
        <locationY>926</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>kayitBasariliMesajMetni</name>
            <fieldText>&lt;p&gt;Kayıt ıslemı basarılı bır sekılde gerceklestırılmıstır&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Ogrenı adı:&lt;/strong&gt;{!Ogrenci_Adi}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Ogrenci no:&lt;/strong&gt;{!Ogrenci_No}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dogum tarihi&lt;/strong&gt;:{!Dogumtarihi}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Kurs&lt;/strong&gt;:{!secilenKurs.recordName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Kurs ID:&lt;/strong&gt;{!secilenKurs.recordId}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt;{!Email.value}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Telefon no&lt;/strong&gt;:{!telefonNo.value}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>tamam</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Kayit_Yok_Ekrani</name>
        <label>Kayit Yok Ekrani</label>
        <locationX>406</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>hayır</backButtonLabel>
        <connector>
            <targetReference>Ogrenci_Kayit_Ekrani</targetReference>
        </connector>
        <fields>
            <name>yeniBirOgrenciOlusturmaTalebi</name>
            <fieldText>&lt;p&gt;sayın kullanıcı&lt;/p&gt;&lt;p&gt;sistmimizde de girmis olduugnuz {!Ogrenci_Numarasi}na  sahip  bir ogrenci kaydi&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;yeni bır ogrenci kaydi olusturmak istermisiniz... &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>evet</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>guncelleme ekranı</description>
        <name>Ogrenci_Kaydi_Guncelleme_Ekrani</name>
        <label>Ogrenci Kaydi Guncelleme Ekrani</label>
        <locationX>934</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Önceki Sayfa</backButtonLabel>
        <connector>
            <targetReference>Update_Ogrenci</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getOgrenciler.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getOgrenciler.Dogum_Tarihi__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getOgrenciler.Ogrenci_no__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getOgrenciler.Kurs__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getOgrenciler.Telefon__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getOgrenciler.Email__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Evet</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ogrenci_Kayit_Ekrani</name>
        <label>Ogrenci Kayit Ekrani</label>
        <locationX>409</locationX>
        <locationY>685</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Vazgec</backButtonLabel>
        <connector>
            <targetReference>createOgrenci</targetReference>
        </connector>
        <fields>
            <name>Ogrenci_No</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Ogrenci_Numarasi</elementReference>
            </defaultValue>
            <fieldText>Ogrenci No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Ogrenci_Adi</name>
            <dataType>String</dataType>
            <fieldText>Ogrenci Adi</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ingilizce_Seviyesi</name>
            <choiceReferences>ingilizceSeviyesiPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ingilizce Seviyesi</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>secilenKurs</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Kurs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Ogrenci__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Kurs__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>pls@emailgir.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ekBilgiler</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Evet</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Hayir</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ek Bilgiler</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Dogumtarihi</name>
            <dataType>Date</dataType>
            <fieldText>Dogumtarihi</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ekBilgiler.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>telefonNo</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Telefon No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ekBilgiler.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Musait_Kurslar</name>
            <choiceReferences>musaitKurslarPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Musait Kurslar</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Olustur</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ogrenci_No_Arama_Ekrani</name>
        <label>Ogrenci No Arama Ekrani</label>
        <locationX>670</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getOgrenciler</targetReference>
        </connector>
        <fields>
            <name>Ogrenci_Numarasi</name>
            <dataType>Number</dataType>
            <fieldText>Ogrenci Numarasi</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Ara</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ogrencikaydiVar</name>
        <label>ogrencikaydiVar</label>
        <locationX>934</locationX>
        <locationY>565</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Önceki Sayfa</backButtonLabel>
        <connector>
            <targetReference>Ogrenci_Kaydi_Guncelleme_Ekrani</targetReference>
        </connector>
        <fields>
            <name>ogrenciKaydiVarr</name>
            <fieldText>&lt;p&gt;Sıstemımızde girmis oldugunuz &lt;strong&gt;{!Ogrenci_Numarasi} na sahıp &lt;/strong&gt;ogrencı bulunmaktadır&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;NUMARASINI sorguladıgınız  ogrencıye aıt  bılgıler asagıda bulunmaktadır&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ogrencı no:{!getOgrenciler.Ogrenci_no__c}&lt;/p&gt;&lt;p&gt;Ogrencı adı:{!getOgrenciler.Name}&lt;/p&gt;&lt;p&gt;Kurs:{!getOgrenciler.Kurs__r.Name}&lt;/p&gt;&lt;p&gt;Emaıl:{!getOgrenciler.Email__c}&lt;/p&gt;&lt;p&gt;Telefon no:{!getOgrenciler.Telefon__c}&lt;/p&gt;&lt;p&gt;Dogum Tarihi:&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getOgrenciler.Dogum_Tarihi__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(69, 69, 69);&quot;&gt;BİLGİLERINIZI GUNCELLEMEK ISTER MISINIZ&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Güncelle</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Yeni_Ogrenci_Kayit_Hata_Mesaji</name>
        <label>Yeni Ogrenci Kayit Hata Mesaji</label>
        <locationX>670</locationX>
        <locationY>730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Onceki sayfa</backButtonLabel>
        <connector>
            <targetReference>Ogrenci_Kayit_Ekrani</targetReference>
        </connector>
        <fields>
            <name>yeniOgrenciKayitHataMesaji</name>
            <fieldText>&lt;p&gt;HATA olustu&lt;/p&gt;&lt;p&gt;Hata ıle ılgılı bılgılerı asagıda gorebılırsınız&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hata: Mesajı {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{Zaman: !$Flow.InterviewStartTime}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Tarih:{!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sistem Zamani:{!$System.OriginDateTime}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;User:{!$User.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$User.Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Tekrar Dene</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>544</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Ogrenci_No_Arama_Ekrani</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>isim ıcerıcek</description>
        <name>isim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>isimLER
1 DEN COK ISIM ICERICEK</description>
        <name>isimLER</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isimm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>isim icerıc3k</description>
        <name>issim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordExample</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ogrenci__c</objectType>
    </variables>
</Flow>
